In [2]:
import pandas as pd
import glob

In [3]:
file_list = glob.glob('./Data/*.csv')
for file_name in file_list:
    print(file_name)

./Data/BGCON_CUST_DATA.csv
./Data/BGCON_CLAIM_DATA.csv
./Data/BGCON_FPINFO_DATA.csv
./Data/BGCON_FMLY_DATA.csv
./Data/BGCON_CNTT_DATA.csv

In [4]:
# read BGCON_CUST_DATA.csv ( 고객정보 )
customer_df = pd.read_csv(file_list[0], encoding='utf-16')

# read BGCON_CLAIM_DATA.csv ( 지급정보 )
claim_df = pd.read_csv(file_list[1], encoding='utf-16')

# read BGCON_FPINFO_DATA.csv ( 설계사정보 )
fpinfo_df = pd.read_csv(file_list[2], encoding='utf-16')

# read BGCON_FMLY_DATA.csv ( 가족정보 )
family_df = pd.read_csv(file_list[3], encoding='utf-16')

# read BGCON_CNTT_DATA.csv ( 계약정보 )
contract_df = pd.read_csv(file_list[4], encoding='utf-16')

In [5]:
# < WORKFLOW >
# Join : cust + cntt (on CUST_ID)
# Join : cntt + claim (on POLY_NO)
# Join : cntt + fpinfo (on CLLT_FP_PRNO)
# Create Feature : fmly (ex == 0 or 1 + 관계코드)

In [10]:
# Suggestion : 변수들의 조합으로 라는 말은 즉 새로운 feature를 만들어라.
#            : 외부데이터를 연계하여 활용해보아라 ( 예를 들어, 지도 api를 활용할 수 있지않을까? )

# Next Step 
# 먼저, Nan 을 어떻게 처리할 것인지? ( drop or interpolation )
# 어떤 알고리즘을 이용하여 예측할것인지 ( SVM ...? )

In [7]:
# Join : cust + cntt (on CUST_ID)
merged_df0 = pd.merge(customer_df, contract_df, on='CUST_ID')

# Join : cntt + claim (on POLY_NO)
merged_df1 = pd.merge(merged_df0, claim_df, on='POLY_NO')

# Join : cntt + fpinfo (on CLLT_FP_PRNO)
merged_df2 = pd.merge(merged_df1, fpinfo_df, on = 'CLLT_FP_PRNO')

In [9]:
merged_df2.tail()

,CUST_ID_x,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,CTPR,...,COUNT_TRMT_ITEM,DCAF_CMPS_XCPA,NON_PAY_RATIO,HEED_HOSP_YN,INCB_DVSN,ETRS_YM,FIRE_YM,BEFO_JOB,EDGB,BRCH_CODE
119987,21483,1,N,2,30,31944,20,N,200306,경기,...,NaN,NaN,0,N,P,199711,999912,무직,대학졸,78
119988,20356,1,N,1,15,27777,20,N,200306,경기,...,NaN,NaN,0,N,R,200006,200403,무직,고졸,120
119989,20356,1,N,1,15,27777,20,N,200306,경기,...,NaN,NaN,0,N,R,200006,200403,무직,고졸,120
119990,17118,1,N,2,18,21527,20,N,200306,경기,...,NaN,NaN,0,N,R,198108,200206,기타,고졸,19
119991,17118,1,N,2,18,21527,20,N,200306,경기,...,NaN,NaN,0,N,R,198108,200206,기타,고졸,19

In [8]:
family_df.head()

   CUST_ID  SUB_CUST_ID  FMLY_RELN_CODE
0    21564        20967              13
1    20672         6462              12
2     1342        12929              17
3    19239        18556              13
4     1649        13961              13